body {
    background-color: #dee9ff;
}

.registration-form {
    padding: 50px 0;
    margin-top: 50px;
}

.registration-form form, .result-container {
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
    text-align: center;
    background-color: #5990ff;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item {
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .check-health {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5990ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.page-menu {
    background-color: #fff;
    font-family: Raleway, sans-serif;
}

.page-menu .navbar-brand {
    color: #5990ff;
    font-weight: bold;
}

h1 {
    color: #5990ff;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: Raleway, sans-serif;
}

h5 {
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

/* footer */
.page-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.divider {
    border-top: 1px solid;
    border-color: #aaaaaa;
}

.logo-letter {
    color:white;
    background-color:#5990ff;
}

.special-font {
    font-family: Raleway, sans-serif;
}


@media only screen and (max-width: 575px) {
    .footer-second-p {
        margin-top: 10px;
    }
}

.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.radioBtn .notActive:hover {
    color: #fff !important;
    background-color: #0062cc;
}

.input-group {
    align-items: end;
}

.btn-blue {
    background-color: #5990ff;
    border: 1px solid #5990ff;
    min-width: 100px;
}

.btn-blue.active {
    color: #fff !important;
}

